/*CSS geral*/
body { overflow-x: hidden; }

p{
	margin-bottom: 0;
}
/* font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;*/

/*Codigo Bootstrap*/
.selector-for-some-widget {
  box-sizing: content-box;
}

/*Botão*/
.button_geral{
	background: #4BFF00;
	padding: 0.5rem 2rem;
	margin: 2rem auto;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.button_geral:hover{
	font-size: 19px;
	background: #FFEF00;
}

.btn{
	border: 0.2rem solid;
}

.navbar_menu a{
	color: #FFFFFF;
}

.navbar_menu a:link{
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.navbar_menu a:hover{
	color: #FEC401;
	border-bottom: 0.2rem solid;
}

/*CSS do cabeçalho*/
header{
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.header{
	position: relative;
	height: 100vh;
}

.header img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cor_navbar{
	background-color: rgba(0,0,0,0.5);
}

.navbar_jm{
	position: absolute;
	top: 0;
	display: grid;
	grid-template-columns: 1fr;
	padding: 0rem 1rem;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 1);
	font-family: 'Roboto', sans-serif;
	width: 100%;
	background-color: #81FF4C;
}

.fixed-top{
	top: 2rem !important;
}

.navbar_menu ul{
	padding-right: 5rem;
	font-size: 20px;
	font-style: bold;
	font-weight: 550;
}

.navbar_menu ul li{
	float: right;
	text-decoration: none;
	list-style: none;
	margin-right: 2rem;
}
.navbar-brand{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
}

.navbar-brand img{
	height: 3rem;
	width: 6rem;
}
/*CSS paga-home*/

/*sobre a empresa*/
.sobre_empresa{
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	margin: 0 auto;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
	padding: 3rem 1rem 3rem 0rem;
}
/*sobre imagem*/
.sobre_image{
	border-style: solid;
	border-width: 0.2rem;
	padding: 1rem;
	height: 30rem;
	width: 100%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
}
.sobre_image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*sobre texto*/
.sobre_texto{
	height: auto;
	width: 100%;
	padding: 1rem 1rem;
	text-align: justify;
}

.sobre_texto h3{
	font-family: 'Montserrat', sans-serif;
	line-height: 2rem;	
}

/*Produtos*/
.titulo_do_produtos{
	padding: 3rem auto;
	margin: 0 0 2rem 0;
}

.titulo_produtos{
	text-align: center;
	padding: 1rem 1rem 0rem 1rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.hr_titulo_produtos{
	width: 3rem;
	margin: 0 auto;
}

hr:not([size]){
	height: 0.2rem;
	color: #000000;
	background: #000000;
}

/*Cards Produtos*/
.secao_produtos{
	width: 100%;
	background: #81FF4C;
	padding: 3rem 2rem;
}
.secao_card_produtos{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	padding: 1rem 0rem;
}

.card_produtos{
	border-style: solid;
	border-width: 0.2rem;
	padding:1rem;
	text-align: center;
	background: #FFFFFF;
	width: 100%;
}

.card_produtos h4{
	font-family: 'Roboto', sans-serif;	
	font-weight: bold;
}

.card_produtos img{
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	margin: 1rem 0rem 2rem 0rem;
}

.card_produtos p{
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.8rem;
	width: 90%;
	margin: 0 auto;
}

/*Seção Contatos*/

/*Titulo Contato*/
.titulo_contatos{
	margin: 2rem auto 1rem auto;
}

.titulo_contatos h3{
	text-align: center;
	padding: 1rem 1rem 0rem 1rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.titulo_contatos hr{
	width: 3rem;
	margin: 0 auto;
}

/*Coluna Contatos*/
.coluna_contatos{
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 auto;
	padding: 0rem 0rem 3rem 0rem;
}

.contatos{
	display: grid;
	grid-template-columns: 30% 70%;
	border-style: solid;
	border-width: 0.2rem;
	padding: 1rem 0rem;
	width: 25rem;
	text-align: center;
	margin: 1rem auto 2rem auto;
	background-image: linear-gradient(to right, #257F00 , #81FF4C);
}

.contatos:hover{
	width: 26rem;
	padding: 1.5rem 0rem;
}

.contatos p{
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 500;
	vertical-align: center;
}

.contatos img{
	margin: 0 auto;
	height: 2rem;
	width: auto;
}

/*Footer*/
.footer_site{
	display: grid;
	grid-template-columns: 40% 20% 40%;
	background: #81FF4C;
	padding: 2rem 1rem;
}

/*Footer história*/
.footer_historia{
	text-align: left;
	padding: 1rem 2rem;
}

.footer_historia h4{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: bold;
}

.footer_historia p{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5rem;
	font-size: 16px;
}

/*Footer Redes*/
.footer_redes{
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	margin: 0 auto;
	padding: 1rem 0rem;
}

.footer_redes img{
	width: 3rem;
	height: 3rem;
}

.footer_redes img:hover{
	width: 3.2rem;
	height: 3.2rem;
}

/*Footer Localização*/
.footer_localizacao h4{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1rem 0rem;
	margin: 0;
}

/*Creditos Site*/
.creditos{
	display: grid;
	grid-template-rows: 1fr 1fr;
	background: #327F13;
}

.desenvolvedor{
	text-align: center;
	padding: 1rem 0rem;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
}

.desenvolvedor img{
	height: 2.2rem;
	width: 2.2rem;
	margin-right: 0.6rem;
}

.icones{
	align-items: center;
	margin: 0 auto; 
}

.icones a{
	color: #FFFFFF;
	margin: 0 auto;
}
.icones a:hover{
	color: #000000;
}

/*Pagina Informática*/
/*Destaque da pagina de produtos*/
.titulo_pagina_produtos{
	text-align: center;
	padding: 2rem;
}
.titulo_pagina_produtos h2{
	font-size: 46px;
}

/*Produtos Informática*/
.produtos_informatica{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
}

.card_produtos_informatica{
	display: grid;
	grid-column: 1fr;
	align-items: center;
	margin: 0 auto;
	text-align: center;
	border: 0.2rem solid
	margin: 1rem;
}
.card_produtos_informatica:hover{
	border-color:  #FFEF00;
}

/*Titulo Produtos*/
.card_produtos_informatica h3{
	font-family: 'Roboto', sans-serif;
	padding: 1rem 1rem;
	font-weight: bold;
	font-size: 24px;
}

/*Imagem dos produtos*/

.card_produtos_informatica img{
	height: 12rem;
	width: 12rem;
	margin: 0 auto;	
}

/*Preço Produtos*/
.card_produtos_informatica p{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding: 1rem 1rem 0rem 1rem;
}

/*Botão Comprar*/
.card_produtos_informatica a:link{
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.card_produtos_informatica a{
	color: black;
}
.botao_produtos{
	border: 0.2rem solid;
}

/*CSS responsive*/

/*desktop*/

@media (min-width: 992px){
	/*Navbar*/
	.navbar-expand-lg .navbar-collapse{
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.navbar_jm{
		grid-template-columns: 1fr 1fr;
		padding: 0rem 1rem;
		padding-left: 2rem;
	}

	.navbar-brand{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		font-size: 20px;
		padding-left: 2rem;
	}
	.navbar-brand img{
		height: 5rem;
		width: 10rem;
		margin-right: 1rem;
	}

	/*Sobre Empresa*/
	.sobre_empresa{
		display: grid;
		grid-template-columns: 1fr 1fr;
		box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
		padding: 3rem 2rem;
	}
	
	.sobre_image{
		padding: 1rem;
		height: 40rem;
	}

	.sobre_texto{
		height: auto;
		width: 100%;
		padding: 1rem 2rem 1rem 2rem;
	}

	/*Produtos*/
	.secao_produtos{
		padding: 3rem 2rem;
	}
	.secao_card_produtos{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1rem;
		padding: 1rem;
	}

	.card_produtos img{
		width: 20rem;
		height: 20rem;
		object-fit: cover;
		margin: 1rem 0rem 2rem 0rem;
	}

	.card_produtos p{
		text-align: justify;
		font-size: 18px;
		line-height: 1.8rem;
		width: 90%;
	}
}
